---
title: DCL Français Langue Étrangère
description: Get your Diplôme de Compétence en Langue en français langue étrangère. Lifelong validity. Especially designed for adults from the professional world. Our specific and personalized pedagogical approach helps you to get efficiently prepared to the exam.
---

<div class="padded" id="banner_dcl">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-1">
          <h1>Get ready to take and pass the </h1>
          <h1 class="framed">Diplôme de Compétence en Langue</h1>
          <h1>en français langue étrangère examination</h1>
          </h1>
        </div>
      </div>
    </div>

</div>

<div class="container text-center" id="dcl">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <%= image_tag "Logo_DCL.png", :alt => "Diplôme de compétence en Langue Logo"%>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8">
      <h4>The “Diplôme de Compétence en Langue” (DCL)</h4>
      <p>
        The ”diplôme de compétence en langue” (DCL) is a professional state certification specifically designed for adults from the professional world by the French Ministry of National Education. <br/>
      </p>
      <p>
        The DCL certifies the gained skills in the professional and daily language communication commonly used in all the economic activities. Its uniqueness lies on its candidates' language level assessment process. The candidates are put in a work position close to reality.
      </p>
      <p>
        <% link_to "http://www.education.gouv.fr/cid55748/le-diplome-de-competence-en-langue-dcl.html", target: "_blank" do %>
        To know more about DCL, you may access to the official website (in French)
        <% end %>
      </p>
    </div>
  </div>
</div>

<div class="bg-smartexpat" id="dcl_features" data-sr="wait 1.5s, ease-in-out 100px">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" data-sr="wait 2.5s and then ease-in-out 100px">
          <%= image_tag "Cible.png", :alt => "Audience for DCL" %>
          <p>
            A certificate specially designed for adult professionals
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <%= image_tag "Job.png", :alt => "DCL a professional approach" %>
          <p>
            The examination is based on both written and spoken communication through a simulation close to work reality
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <%= image_tag "CECRL.png", :alt => "Illimited validity of your DCL French speaking ability" %>
          <p>
            Unlimited validity certificate with one of the levels from the Common European Framework of Reference for Languages (CECRL)
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <%= image_tag "CPF.png", :alt => "DCL might be financed through company and public aids" %>
          <p>
            The DCL in French as a foreign language might be financed through your corporate training plan or your own CPF<br/>(Code 146853)
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-center" id="claim_dcl">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h2>Give yourself an edge and get fully prepared for <span style="color: #0096B3;">DCL français langue étrangère</span> through our <span style="color: #0096B3;">private French classes</span> in Paris with one of our <span style="color: #0096B3;">experienced and qualified</span> French teachers!</h2>
      <h3>Smartexpat is an authorized vocational training family-run company. We have a quality partnership with the Aix-Marseille University, nationally in charge of the DCL French as a Foreign Language.</h3>
    </div>
  </div>
</div>

<div id="path">
  <h2>And now, what ?</h2>
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6" id="Etape1">
        <%= image_tag "Etape1.png", :alt => "Get in touch with us first" %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6" id="Etape2">
        <%= image_tag "Etape2.png", :alt => "Personalized teaching programme that suits to your needs" %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6" id="Etape3">
        <%= image_tag "Etape3.png", :alt => "Get prepared through private French classes" %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6" id="Etape4">
        <%= image_tag "Etape4.png", :alt => "Your fully qualified teacher will help you with the exam process" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3" id="Etape5">
        <%= image_tag "Etape5.png", :alt => "Get your DCL diploma" %>
        <p>Photo credit: CarbonNYC [in SF!] - CC BY
        </p>
      </div>
    </div>
    <div class="row text-center">
      <div id=banner_button>
        <% link_to "https://goo.gl/forms/YhlBT1qOG85kMPXH3", target: "_blank" do %>
        <button type="button" class="btn-rounded-dcl">Contact us!</button>
        <% end %>
      </div>
    </div>
  </div>
</div>


