---
title: DCL Français Langue Étrangère
---

<div class="padded" id="banner_dcl">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-1">
          <h1>Préparez-vous au</h1>
          <h1 class="framed">Diplôme de Compétence en Langue</h1>
          <h1>en français langue étrangère</h1>
          </h1>
        </div>
      </div>
    </div>

</div>

<div class="container text-center" id="dcl">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <%= image_tag "Logo_DCL.png" %>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8">
      <h4>Le diplôme de compétence en langue (DCL)</h4>
      <p>
        Le diplôme de compétence en langue (DCL) est un diplôme national professionnel créé spécialement pour les adultes par le Ministère français de l’Éducation Nationale, de l’Enseignement Supérieur et de la Recherche. <br/>
      </p>
      <p>
        Le DCL atteste les compétences acquises en langue de communication usuelle et professionnelle communes à l’ensemble des secteurs d’activité économique. Son originalité tient notamment à l’évaluation des compétences langagières des candidats dans une situation proche de la réalité du travail.
      </p>
      <p>
        <% link_to "" do %>
        Pour en savoir plus, vous pouvez consulter le site officiel du DCL.
        <% end %>
      </p>
    </div>
  </div>
</div>

<div class="bg-smartexpat" id="dcl_features" data-sr="wait 1.5s, ease-in-out 100px">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" data-sr="wait 2.5s and then ease-in-out 100px">
          <%= image_tag "Cible.png" %>
          <p>
            Un diplôme spécialement conçu pour des publics adultes et du monde professionnel
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <%= image_tag "Job.png" %>
          <p>
            Un examen orienté sur la communication écrite et orale par une mise en situation proche de la réalite du travail
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <%= image_tag "CECRL.png" %>
          <p>
            Diplôme à durée de validité illimitée avec mention d’un des niveaux du Cadre Européen Commun de Référence pour les Langues (CECRL)
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <%= image_tag "CPF.png" %>
          <p>
            Le DCL en français langue étrangère est éligible, entre autres, au plan de formation et au CPF<br/>(Code 146853)
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-center" id="claim_dcl">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h2>Mettez toutes les chances de votre côté et préparez-vous au <span style="color: #0096B3;">DCL français langue étrangère</span> en suivant des <span style="color: #0096B3;">cours particuliers</span> à Paris avec l'un de nos professeurs de français langue étrangère <span style="color: #0096B3;">expérimentés et qualifiés</span> !</h2>
      <h3>Smartexpat est un organisme de formation signataire d'un partenariat avec l'université Aix-Marseille qui est responsable au niveau national du DCL français langue étrangère.</h3>
    </div>
  </div>
</div>

<div id="path">
  <h2>Et maintenant ?</h2>
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <%= image_tag "Etape1.png" %>
      </div>
    </div>
  </div>
</div>
