---
title: DCL Français Langue Étrangère
description: Obtenez votre Diplôme de Compétence en Langue en français langue étrangère. Validité illimitée. Spécialement conçu pour des publics adultes et du monde professionnel. Notre approche spécifique et personnalisée permet de vous préparer efficacement à l'examen.
---

<div class="padded" id="banner_dcl">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-1">
          <h1>Préparez-vous au</h1>
          <h1 class="framed">Diplôme de Compétence en Langue</h1>
          <h1>en français langue étrangère</h1>
          </h1>
        </div>
      </div>
    </div>

</div>

<div class="container text-center" id="dcl">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <%= image_tag "Logo_DCL.png", :alt => "Diplôme de compétence en Langue Logo"%>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8">
      <h4>Le diplôme de compétence en langue (DCL)</h4>
      <p>
        Le diplôme de compétence en langue (DCL) est un diplôme national professionnel créé spécialement pour les adultes par le Ministère français de l’Éducation Nationale, de l’Enseignement Supérieur et de la Recherche. <br/>
      </p>
      <p>
        Le DCL atteste les compétences acquises en langue de communication usuelle et professionnelle communes à l’ensemble des secteurs d’activité économique. Son originalité tient notamment à l’évaluation des compétences langagières des candidats dans une situation proche de la réalité du travail.
      </p>
      <p>
        <% link_to "http://www.education.gouv.fr/cid55748/le-diplome-de-competence-en-langue-dcl.html", target: "_blank" do %>
        Pour en savoir plus, vous pouvez consulter le site officiel du DCL.
        <% end %>
      </p>
    </div>
  </div>
</div>

<div class="bg-smartexpat" id="dcl_features" data-sr="wait 1.5s, ease-in-out 100px">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" data-sr="wait 2.5s and then ease-in-out 100px">
          <%= image_tag "Cible.png", :alt => "Audience for DCL" %>
          <p>
            Un diplôme spécialement conçu pour des publics adultes et du monde professionnel
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <%= image_tag "Job.png", :alt => "DCL a professional approach" %>
          <p>
            Un examen orienté sur la communication écrite et orale par une mise en situation proche de la réalité du travail
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <%= image_tag "CECRL.png", :alt => "Illimited validity of your DCL French speaking ability" %>
          <p>
            Diplôme à durée de validité illimitée avec mention d’un des niveaux du Cadre Européen Commun de Référence pour les Langues (CECRL)
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <%= image_tag "CPF.png", :alt => "DCL might be financed through company and public aids" %>
          <p>
            Le DCL en français langue étrangère est éligible, entre autres, au plan de formation et au CPF<br/>(Code 146853)
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-center" id="claim_dcl">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h2>Mettez toutes les chances de votre côté et préparez-vous au <span style="color: #0096B3;">DCL français langue étrangère</span> en suivant des <span style="color: #0096B3;">cours particuliers</span> à Paris avec l'un de nos professeurs de français langue étrangère <span style="color: #0096B3;">expérimentés et qualifiés</span> !</h2>
      <h3>Smartexpat est un organisme de formation signataire d'un partenariat avec l'université Aix-Marseille qui est responsable au niveau national du DCL français langue étrangère.</h3>
    </div>
  </div>
</div>

<div id="path">
  <h2>Et maintenant ?</h2>
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6" id="Etape1">
        <%= image_tag "Etape1.png", :alt => "Get in touch with us first" %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6" id="Etape2">
        <%= image_tag "Etape2.png", :alt => "Personalized teaching programme that suits to your needs" %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6" id="Etape3">
        <%= image_tag "Etape3.png", :alt => "Get prepared through private French classes" %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6" id="Etape4">
        <%= image_tag "Etape4.png", :alt => "Your fully qualified teacher will help you with the exam process" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3" id="Etape5">
        <%= image_tag "Etape5.png", :alt => "Get your DCL diploma" %>
        <p>Photo credit: CarbonNYC [in SF!] - CC BY
        </p>
      </div>
    </div>
    <div class="row text-center">
      <div id=banner_button>
        <% link_to "https://docs.google.com/forms/d/e/1FAIpQLSc-AwqTBu9k84UTRuGtuUA7W5vOcRTLA_UPrH1FNp8dW8EgCA/viewform", target: "_blank" do %>
        <button type="button" class="btn-rounded-dcl">Contactez-nous !</button>
        <% end %>
      </div>
    </div>
  </div>
</div>


